/*@media screen and (min-width: 1200){
  #vigilance {
    top: 15.5%;
    left: 12.5%;
  }
  #depassement{
    top: 104px;left: 9.8em;
  }

}*/

@media screen and (max-width: 600px) {
  #lunette{
    display: none;
  }
  #radar1{
    margin-left: -28px;
    margin-top: 12%;
  }
  #radar2{
    margin-top: 65px;
    margin-left: 55px;
  }

  #titre_g{
    padding-right :100px;
  }
  #titre_d{
    padding-left: 225px;
  }
  #img2{
    margin-left:174px;
  }
}

@media screen and (min-width: 421px){
  #phone{
    display: none;
  }
  #desktop{
    display: block;
  }
}

@media screen and (max-width: 420px) {
  #desktop{
    display: none;
  }
  #phone{
    display: block;
  }
  #radar3{
    top: -153px;
    left: -6px;
  }
  #radar4{
    top: -148px;
    left: -3px;
  }
}

.container{
  position: relative;
}
#bleu{
  stroke:#00b0f0;
}
#jaune{
  stroke: #ffc20b;
}
#vert{
  stroke: #00b050;
}

#rose{
  stroke: #da9a98;
}

/* #vigilance{
  top: 104px;left: 5.5em;
}

#depassement{
  top: 104px;left: 9.8em;
}

#implication{
  top: 183px;left: 5.5em;
}
#creative{
  top: 183px;left: 9.5em;
}
#reconnaissance{
  top: 104px;left: 25.4em;
}
#competition{
  top: 104px;left: 29.6em;
}
#convivialite{
  top: 183px;left: 25.4em;
}
#collaboration{
  top: 183px;left: 29.6em;
} */

.contains{
  position: absolute;width: 400px;font-weight:bold;
}

#img_g{
  margin-left: 75%;
  margin-top: 5%;
  transform: translateX(-75%);
}

#img_d{
  margin-left: 110%;
  margin-top: 5%;
}

#titre_g{
  margin-left: 17%;
  margin-bottom: -3%;
}

#titre_d{
  margin-left: 134%;
  transform: translateX(-134%);
}

#radar1{
  margin-top: 18%;
  margin-left: 9%;
}
#radar2{
  margin-left: 93%;
  margin-top: 18%;
}

#lunette{
  margin-left: 84.2%;
  margin-top: 19.5%;
}
.titre{
  color: #286090;
  /*text-decoration: underline;*/
  margin-bottom:3px;
  cursor: pointer;
}

.text{
  font-size: 12px;
}

#vigilance{
  margin-left: 300px;
  margin-top: 135px;
  color: #2196f3;
}

#vigilanceSVG{
  margin-left: 285px;
  margin-top: 150px;
}

#depassement{
  margin-left: 350px;
  margin-top: 135px;
  color: #2196f3;
}

#depassementSVG{
  margin-left: 334px;
  margin-top: 150px;
}

#implication{
  margin-left: 355px;
  margin-top: 260px;
  color: #ffc107;
}
#implicationSVG{
  margin-left: 332px;
  margin-top: 200px; 
}

#creative{
  margin-left: 302px;
  margin-top: 260px;
  color: #ffc107;
}
#creativeSVG{
  margin-left: 283px;
  margin-top: 200px;
}
#reconnaissance{
  margin-left: 580px;
  margin-top: 135px;
  color: #da9a98;
}

#reconnaissanceSVG{
  margin-left: 560px;
  margin-top: 147px;
}

#competition{
  margin-left: 635px;
  margin-top: 135px;
  color: #da9a98;
}

#competitionSVG{
  margin-left: 615px;
  margin-top: 147px;
}

#convivialite{
  margin-left: 580px;
  margin-top: 260px;
  color: #4caf50;
}
#convivialiteSVG{
  margin-left: 562px;
  margin-top: 202px; 
}

#collaboration{
  margin-left: 635px;
  margin-top: 260px;
  color: #4caf50;
}
#collaborationSVG{
  margin-left: 615px;
  margin-top: 201px;
}

.font{
  font-size: 13px;
}

#vigilance2{
  margin-left: 90px;
  margin-top: 145px;
  color: #2196f3;
}

#vigilanceSVG2{
  margin-left: 80px;
  margin-top: 158px;
}

#depassement2{
  margin-top: 145px;
  margin-left: 153px;
  color: #2196f3;
}

#depassementSVG2{
  margin-left: 130px;
  margin-top: 158px;
}

#implication2{
  margin-left: 90px;
  margin-top: 265px;
  color: #ffc107;
}
#implicationSVG2{
  margin-left: 76px;
  margin-top: 209px;
}

#creative2{
  margin-left: 145px;
  margin-top: 264px;
  color: #ffc107;
}
#creativeSVG2{
  margin-left: 129px;
  margin-top: 209px;
}
#reconnaissance2{
  margin-left: 97px;
  margin-top: 487px;
  color: #da9a98;
}

#reconnaissanceSVG2{
  margin-left: 79px;
  margin-top: 503px;
}

#competition2{
  color: #da9a98;
  margin-left: 153px;
  margin-top: 489px;
}

#competitionSVG2{
  margin-left: 132px;
  margin-top: 503px;
}

#convivialite2{
  margin-left: 98px;
  margin-top: 615px;
  color: #00b050;
}
#convivialiteSVG2{
  margin-left: 82px;
  margin-top: 556px;
}

#collaboration2{
  margin-left: 148px;
  margin-top: 615px;
  color: #00b050;
}
#collaborationSVG2{
  margin-left: 130px;
  margin-top: 552px;
}

#bleu2{
  stroke: #2196f3;
}
#gris2{
  stroke:#9e9e9e;
}
#jaune2{
  stroke: #ffc107;
}
#rose2{
  stroke:#4caf50;
}
#vert2{
  stroke:#e91e63;
}


#serieux2{
  margin-left: 113px;
  margin-top: 110px;
  color: #2196f3;
}
#serieuxSVG2{
  margin-left: 97px;
  margin-top: 119px;
}

#conforme2{
  margin-left: 45px;
  margin-top: 147px;
}
#conformeSVG2{
  margin-left: 60px;
  margin-top: 147px;
}

#enjoueSVG2 {
    margin-left: 96px;
    margin-top: 176px;
}

#enjoue2 {
    margin-left: 113px;
    margin-top: 228px;
    color: #ffc107;
}

#transgressifSVG2{
 margin-left: 135px;
  margin-top: 147px; 
}

#transgressif2{
  margin-left: 198px;
  margin-top: 147px;
}

#soi2{
  margin-left: 100px;
  margin-top: 105px;
  color: #e91e63;
}

#soiSVG2{
  margin-left: 78px;
  margin-top: 112px;
}
#symphatieSVG2{
  margin-top: 146px;
  margin-left: 40px;
}
#symphatie2{
  margin-left: 21px;
  margin-top: 151px;
}
#autrui2{
  margin-left: 100px;
  margin-top: 232px;
  color: #4caf50;
}
#autruiSVG2{
  margin-top: 182px;
  margin-left: 77px;
}

#maitrise2{
  margin-top: 150px;
  margin-left: 172px;
}
#maitriseSVG2{
  margin-top: 146px;
  margin-left: 110px;
}

#serieux{
  margin-left: 159px;
  margin-top: 184px;
  color: #2196f3;
}
#serieuxSVG{
  margin-left: 143px;
  margin-top: 195px;
}

#conformeSVG{
  margin-top: 230px;
  margin-left: 98px;
}

#conforme{
  margin-top: 230px;
  margin-left: 75px;
}

#enjoue{
  margin-top: 318px;
  margin-left: 159px;
  color: #ffc107;
}

#enjoueSVG{
  margin-left: 143px;
  margin-top: 267px;
}

#transgressifSVG{
  margin-top: 230px;
  margin-left: 183px;
}

#transgressif{
  margin-left: 260px;
  margin-top: 231px;
}

#soi{
  margin-top: 184px;
  margin-left: 442px;
  color: #e91e63;
}

#soiSVG{
  margin-top: 191px;
  margin-left: 419px;
}

#sympathie{
  margin-top: 230px;
  margin-left: 349px;
}

#sympathieSVG{
  margin-top: 230px;
  margin-left: 379px;
}

#autrui{
  margin-top: 320px;
  margin-left: 440px;
  color: #4caf50;;
}
#autruiSVG{
  margin-left: 418px;
  margin-top: 268px;
}

#maitrise{
  margin-top: 230px;
  margin-left: 525px;
}
#maitriseSVG{
  margin-top: 229px;
  margin-left: 458px;
}
}