@font-face {
  font-family: "GOTHIC";
  src: url('fonts/GOTHIC.ttf');
}

@font-face {
  font-family: "Comfortaa-Bold";
  src: url('fonts/Comfortaa-Bold.ttf');
}

@font-face {
  font-family: "Lato-Light_0";
  src: url('fonts/Lato-Light_0.ttf');
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Comfortaa-Bold";
}

.solutions{
  font-family: "GOTHIC";
}

div{
  font-family: "Lato-Light_0";
}

.input-range{
  -webkit-appearance: slider-vertical;
  height: 683px;
  margin-left: -65px;
  margin-top: 7px;
  }

h3, h2{
  margin :0 0 0 10px !important;
}

.contains{
  position: absolute;width: 400px;font-weight:bold;
}
}

.apter-title{
  margin-bottom: 30px;
}

.climage-form .card{
  padding: 30px;
}
.menu .btn{
  font-size: 1.5em !important;
  text-transform: none !important;
} 
.menu i{
  font-size: 1.4em !important;
} 
.btn-primary{
  background-color: #2b596d !important;
}



.titre_diag{
  font-size: 2.5em;display: inline-block;position: relative;
}

  #titre{
    font-size: 1.5em;
  } 

.Rectangle-580 {
  width: 300px;
  height: 149px;
  border-radius: 20px;
  background-color: #ffffff;
}

.connexion{
  font-size: 2em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: center;
  color: #ffd85b; 
}

.inscription {
  /*width: 198px;*/
  height: 51px;
  font-size: 2em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #ffd85b;
}

.connexion{
   height: 51px;
  font-size: 2em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: center;
  color: #ffd85b;
}

.Rectangle-194 {
  width: 600px;
  height: 40px;
  border-radius: 4px;
  background-color: #ffffff;
}
.card-login .card-header {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -60px;
    padding: 20px 0;
}

.card-connexion{
  width: 50% !important;
  margin: auto !important;
}

#front{

  /*border-radius: 25px;*/
  padding: 1rem 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -40px;border: 0;
  background: linear-gradient(60deg,#fff,#fff);
  background-color: rgba(0, 0, 0, 0); 
  border-radius: 30px;    
  box-shadow: none; 
  width: 30%;
}

.section{
  padding-top: 0 !important;
  padding-bottom: 10px !important;
}
@media screen and (max-width: 700px) {
  .card-connexion{
    width: 100% !important;
    margin: auto !important;
  }
  .section-connexion{
    padding: 10px 30px 10px 30px;

  }
  #front{
    border-radius: 25px; 
  }

}

@media screen and (min-width: 700px) {
  .section-connexion{
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

}

.card-header .card {
    background-color: #FFF;
}

.check{
  
}

.logo-front{
  position: relative;
  top: -20% !important;
}

#username:hover{
  background-color: #ffd85b;
}

#deconnexion:hover{
  color: #FFF;
  background-color: #ffd85b;
  padding-left: 15px;
}

#navbar_modif{
  border: 0;width: 100%;
  border-radius: 3px;/* padding: .625rem 0; */margin-bottom: 0px;color: #555;background-color: #fff!important;
  box-shadow: 0 4px 18px 0 rgba(0,0,0,.12), 0 7px 10px -5px rgba(0,0,0,.15);padding: 0px;
}

/* .header_modif{
  height: 54vh;background-position: 60%;background-size: cover;margin: 0;padding: 0;border: 0;display: flex;align-items: center;
} */


#radar1,#radar2{
 position: absolute;
 top: 0;
/*  width: 270px;
height: 140px; */
 margin-top: /* 40px */11.5%;   
}

.taille{
  border-radius: 50% !important; width: 200px; height: 200px;
}

@media screen and (max-width: 2000px) {

  #phone{
    display:none;
  }
  
  #large_user,#large_screen,#large_lang,#large_cons{
    display: block;
  }
  #small_user,#small_screen,#small_lang,#small_cons{
    display: none;
  }

  #max{
    margin-top: 0px;
    display: block;
  }

  #min{
    display: none;
  }

.large_screen{
    display: block;
  }
  #droite{
    right: 5.5%;
  }
  #gauche{
    left: 6%;
  }
}

@media screen and (max-width: 1300px) {

  #myCanvas3,#myCanvas2,#myCanvas,#lunette{
    display: none;
  }

  #droite,#gauche{
    left: 0;
    right: 0;

  }
}

@media screen and (max-width: 1000px) {

  #max{
    display: none;
  }
  #min{
    margin-top: 0px;
    display: block;
  }
  .titre_diag2{
    font-size: 2em;font-weight: 600;display: inline-block;position: relative;
  }
  .titre2{
    font-weight: 300;
    font-size: 1.2em;
  }  

}

@media screen and (max-width: 990px) {
  #large_user,#large_screen,#large_lang,#large_cons{
    display: none;
  }

  #user_hide{
    display: none;
  }
  #lang_hide{
    display: none;
  }

  #small_user,#small_screen,#small_lang,#small_cons{
    display: block;
  }
}

@media screen and (max-width: 575px) {

  .ng-scope{
      padding-left: 10px !important;
      padding-right: 10px !important;
  }
  
  .card-login .form-check label{
    margin-left:0 !important;
  }

  .titre2{
    font-weight: 300;
    font-size: 1.3em;
  } 
  .mobile{
    font-size: 0.7em;
  }
  
  .titre_diag2{
    font-size: 1.7em;font-weight: 600;display: inline-block;position: relative;
  }
  .titre2{
    font-weight: 400;
    font-size: 0.9em;
  }

  .title_mobile{
    font-weight: 700;
    color: #3c4858;
    text-decoration: none;

    margin-bottom: 0;
    min-height: 32px;
  }
  .font{
    font-size: 1.6em;
  }
  .font2{
    font-size: 1em;
  }
  .font3{
    font-size: 1em;
    padding-bottom: 25px;
  }

  .chevron{
    padding-top: 25px;
  }

}

@media screen and (max-width: 420px) {
  
  #text-mobile{
    display: none;
  }

  .mobile-card{
    padding: 30px 0 !important; 
  }
  .card{
    padding: 8px 8px 0 8px !important;
  }

  .card-body{
    padding: 8px !important;
  } 

  #desktop{
    display: none;
  }
  #phone{
    display: block;
  }

  #radar3{
    margin-top: -112px;
    margin-left: 15px;
    margin-bottom: 55px;
  }
}

#fond{
  height: 54vh;
  background-position: 60%;
  background-size: cover;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  align-items: center;
  z-index: -2;
  /*background-blend-mode: multiply;
  background-color: #546E7A;*/
}

.filter:after{
  background: rgba(101, 47, 142, 0.64);
  background: linear-gradient(45deg, rgba(101, 47, 142, 0.88) 0%, rgba(125, 46, 185, 0.45) 100%);
  background: -moz-linear-gradient(135deg, rgba(101, 47, 142, 0.88) 0%, rgba(125, 46, 185, 0.45) 100%);
  background: -webkit-linear-gradient(135deg, rgba(101, 47, 142, 0.88) 0%, rgba(125, 46, 185, 0.45) 100%);
}



.lien{
  color: #2a6a8a; text-decoration: underline; background-color: #FFF; font-weight: bold;
}

.lien:hover{
  color: #2a6a8a; text-decoration: underline; background-color: #FFF; font-weight: bold;
}

 .clear-filter::before{
  background-color: #546E7A !important;
  opacity: 0.5;
  z-index: -1;
}  

.btn-reponse{
  white-space:normal !important;
  width:100% !important;
  font-weight: bold;
}

#margin-head{
  margin: -60px 30px 0;
}

.titre_modal{
  color: #2b596d;
  font-weight: 600;
}

.gris_fonce{
  background-color: red;
}

.container{
  position: relative;
}
#bleu{
  stroke:#00b0f0;
}
#jaune{
  stroke: #ffc20b;
}
#vert{
  stroke: #00b050;
}

#rose{
  stroke: #da9a98;
}

#bleu2{
  stroke: #2196f3;
}
#gris2{
  stroke:#9e9e9e;
}
#jaune2{
  stroke: #ffc107;
}
#rose2{
  stroke:#4caf50;
}
#vert2{
  stroke:#e91e63;
}

.text{
  font-size: 12px;
}

#serieux{
  margin-top: 150px;
  margin-left: 25px;
  color: #2196f3;
}

#serieuxSVG{
  margin-top: 163px;
  margin-left: 24px;
}

#conforme{
  margin-left: -64px;
  margin-top: 196px;
}
#conformeSVG{
  margin-top: 199px;
  margin-left: -18px;
}
#enjoue{
  margin-top: 285px;
  margin-left: 27px;
  color: #ffc107;
}
#enjoueSVG{
  margin-top: 236px;
  margin-left: 23px;
}
#transgressif{
  margin-left: 117px;
  margin-top: 198px;
}
#transgressifSVG{
  margin-top: 199px;
  margin-left: 62px;
}

#soi{
  margin-top: 149px;
  margin-left: 300px;
  color: #e91e63;
}
#soiSVG{
  margin-top: 163px;
  margin-left: 299px;
}
#sympathie{
  margin-left: 211px;
  margin-top: 196px;
}
#sympathieSVG{
  margin-left: 258px;
  margin-top: 199px;
}

#autrui{
  margin-top: 286px;
  margin-left: 299px;
  color: #4caf50;
}
#autruiSVG{
  margin-top: 236px;
  margin-left: 299px;  
}
#maitrise{
  margin-top: 195px;
  margin-left: 391px;
}
#maitriseSVG{
  margin-left: 335px;
  margin-top: 199px;
}
.text2{
  font-size: 10px;
}
#serieux2{
  margin-left: -31px;
  margin-top: 107px;
  color: #2196f3;
}
#serieuxSVG2{
  margin-left: -34px;
  margin-top: 116px;
}
#conforme2{
  margin-top: 150px;
  margin-left: -109px;
}
#conformeSVG2{
  margin-left: -67px;
  margin-top: 148px;
}
#enjoue2{
  margin-top: 225px;
  margin-left: -30px;
  color: #ffc20b;
}
#enjoueSVG2{
  margin-top: 180px;
  margin-left: -33px;
}
#transgressif2{
  margin-top: 149px;
  margin-left: 50px;
}
#transgressifSVG2{
  margin-top: 148px;
}
#soi2{
  margin-left: -52px;
  margin-top: 105px;
  color: #e91e63;
}
#soiSVG2{
  margin-top: 116px;
  margin-left: -53px;
}
#symphatie2{
  margin-top: 147px;
  margin-left: -130px;
}
#symphatieSVG2{
  margin-top: 147px;
  margin-left: -88px;
}
#autrui2{
  margin-top: 225px;
  margin-left: -50px;
  color: #4caf50;
}
#autruiSVG2{
  margin-top: 179px;
  margin-left: -53px;
}
#maitrise2{
  margin-top: 147px;
  margin-left: 27px;
}
#maitriseSVG2{
  margin-top: 147px;
  margin-left: -19px;
}

#vigilance{
  margin-top: 146px;
  margin-left: -91px;
  color: #2196f3;
}
#vigilanceSVG{
  margin-top: 160px;
  margin-left: -93px;
}

#depassement{
  margin-top: 146px;
  margin-left: -32px;
  color: #2196f3;
}
#depassementSVG{
  margin-left: -38px;
  margin-top: 162px;
}

#implication{
  margin-top: 268px;
  margin-left: -90px;
  color: #ffc107;
}
#implicationSVG{
  margin-top: 215px;
  margin-left: -94px;
}
#creativeSVG{
  margin-top: 215px;
  margin-left: -42px;
}
#creative{
  margin-top: 270px;
  margin-left: -39px;
  color: #ffc107;
}

#reconnaissanceSVG{
  margin-left: 186px;
  margin-top: 161px;
}
#reconnaissance{
  color: #da9a98;
  margin-top: 146px;
  margin-left: 185px;
}

#competition{
  color: #da9a98;
  margin-top: 147px;
  margin-left: 241px;
}
#competitionSVG{
  margin-top: 161px;
  margin-left: 240px;
}
#convivialiteSVG{
  margin-top: 215px;
  margin-left: 188px;
}
#convivialite{
  margin-top: 270px;
  margin-left: 186px;
  color: #00b050;
}
#collaborationSVG{
  margin-top: 213px;
  margin-left: 240px;
}
#collaboration{
  color: #00b050;
  margin-top: 270px;
  margin-left: 243px; 
}

#vigilance2{
  margin-top: 119px;
  margin-left: -115px;
  color: #2196f3;
}
#vigilanceSVG2{
  margin-top: 135px;
  margin-left: -109px;
}
#depassementSVG2{
  margin-top: 135px;
  margin-left: -67px;
}
#depassement2{
  color: #2196f3;
  margin-top: 120px;
  margin-left: -63px;
}
#implicationSVG2{
  margin-top: 178px;
  margin-left: -111px;
}
#implication2{
  color: #ffc20b;
  margin-top: 235px;
  margin-left: -115px;
}
#creative2{
  margin-top: 235px;
  margin-left: -67px;
  color: #ffc20b;
}
#creativeSVG2{
  margin-top: 177px;
  margin-left: -70px;
}
#reconnaissanceSVG2{
  margin-top: 128px;
  margin-left: -111px;
}
#reconnaissance2{
  margin-top: 113px;
  margin-left: -118px;
  color: #e91e63;
}
#competition2{
  margin-top: 112px;
  margin-left: -59px;
  color: #e91e63;
}
#competitionSVG2{
  margin-top: 128px;
  margin-left: -66px;

}
#convivialiteSVG2{
  margin-top: 172px;
  margin-left: -108px;
}
#convivialite2{
  margin-top: 230px;
  margin-left: -116px;
  color: #4caf50;
}
#collaboration2{
  margin-left: -62px;
  margin-top: 229px;
  color: #4caf50;
}
#collaborationSVG2{
  margin-top: 172px;
  margin-left: -66px;
}
/*}*/


}