@font-face {
  font-family: "GOTHIC";
  src: url('fonts/GOTHIC.ttf');
}

@font-face {
  font-family: "Comfortaa-Bold";
  src: url('fonts/Comfortaa-Bold.ttf');
}

@font-face {
  font-family: "Lato-Light_0";
  src: url('fonts/Lato-Light_0.ttf');
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Comfortaa-Bold";
}

.solutions{
  font-family: "GOTHIC";
}

div{
  font-family: "Lato-Light_0";
}

h3, h2{
  margin :0 0 0 10px !important;
}

.apter-title{
  margin-bottom: 30px;
}

.climage-form .card{
  padding: 30px;
}
.menu .btn{
  font-size: 1.5em !important;
  text-transform: none !important;
} 
.menu i{
  font-size: 1.4em !important;
} 
.btn-primary{
  background-color: #2b596d !important;
}



.titre_diag{
  font-size: 2em;font-weight: 600;display: inline-block;position: relative;
}

.Rectangle-580 {
  width: 300px;
  height: 149px;
  border-radius: 20px;
  background-color: #ffffff;
}

.connexion{
  font-size: 2em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: center;
  color: #ffd85b; 
}

.inscription {
  /*width: 198px;*/
  height: 51px;
  font-size: 2em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #ffd85b;
}

.connexion{
   height: 51px;
  font-size: 2em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: center;
  color: #ffd85b;
}

.Rectangle-194 {
  width: 600px;
  height: 40px;
  border-radius: 4px;
  background-color: #ffffff;
}
.card-login .card-header {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -60px;
    padding: 20px 0;
}

.card-connexion{
  width: 50% !important;
  margin: auto !important;
}

#front{

  /*border-radius: 25px;*/
  padding: 1rem 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -40px;border: 0;
  background: linear-gradient(60deg,#fff,#fff);
  background-color: rgba(0, 0, 0, 0); 
  border-radius: 30px;    
  box-shadow: none; 
  width: 30%;
}

.section{
  padding-top: 0 !important;
  padding-bottom: 10px !important;
}
@media screen and (max-width: 700px) {
  .card-connexion{
    width: 100% !important;
    margin: auto !important;
  }
  .section-connexion{
    padding: 10px 30px 10px 30px;

  }
  #front{
    border-radius: 25px; 
  }

}

@media screen and (min-width: 700px) {
  .section-connexion{
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

}

.card-header .card {
    background-color: #FFF;
}

.check{
  
}

.logo-front{
  position: relative;
  top: -20% !important;
}

#username:hover{
  background-color: #ffd85b;
}

#deconnexion:hover{
  color: #FFF;
  background-color: #ffd85b;
  padding-left: 15px;
}

#navbar_modif{
  border: 0;width: 100%;
  border-radius: 3px;/* padding: .625rem 0; */margin-bottom: 0px;color: #555;background-color: #fff!important;
  box-shadow: 0 4px 18px 0 rgba(0,0,0,.12), 0 7px 10px -5px rgba(0,0,0,.15);padding: 0px;
}

/* .header_modif{
  height: 54vh;background-position: 60%;background-size: cover;margin: 0;padding: 0;border: 0;display: flex;align-items: center;
} */


#radar1,#radar2{
 position: absolute;
 top: 0;
/*  width: 270px;
height: 140px; */
 margin-top: /* 40px */11.5%;   
}

.taille{
  border-radius: 50% !important; width: 200px; height: 200px;
}

@media screen and (max-width: 2000px) {

  #phone{
    display:none;
  }
  
  #large_user,#large_screen,#large_lang,#large_cons{
    display: block;
  }
  #small_user,#small_screen,#small_lang,#small_cons{
    display: none;
  }

  #max{
    margin-top: -95px;
    display: block;
  }

  #min{
    display: none;
  }

.large_screen{
    display: block;
  }
  #droite{
    right: 5.5%;
  }
  #gauche{
    left: 6%;
  }
  
  #logo_head{
    width: 60%;
  }

}

@media screen and (max-width: 1300px) {

  #myCanvas3,#myCanvas2,#myCanvas,#lunette{
    display: none;
  }

  #droite,#gauche{
    left: 0;
    right: 0;

  }
}

@media screen and (max-width: 1000px) {

  #max{
    display: none;
  }
  #min{
    margin-top: -105px;
    display: block;
  }
  .titre_diag2{
    font-size: 1.8em;font-weight: 600;display: inline-block;position: relative;
  }
  .titre2{
    font-weight: 300;
    font-size: 1.5em;
  }  

}

@media screen and (max-width: 990px) {
  #large_user,#large_screen,#large_lang,#large_cons{
    display: none;
  }

  #user_hide{
    display: none;
  }
  #lang_hide{
    display: none;
  }

  #small_user,#small_screen,#small_lang,#small_cons{
    display: block;
  }
}

@media screen and (max-width: 500px) {
  
  .titre2{
    font-weight: 300;
    font-size: 1.3em;
  } 
  .mobile{
    font-size: 0.7em;
  }
  
  .titre_diag2{
    font-size: 1.5em;font-weight: 600;display: inline-block;position: relative;
  }
  .titre2{
    font-weight: 400;
    font-size: 1em;
  }

  .title_mobile{
    font-weight: 700;
    color: #3c4858;
    text-decoration: none;
    margin-bottom: 0;
    min-height: 32px;
  }
  .font{
    font-size: 1.6em;
  }
  .font2{
    font-size: 1em;
  }
  .font3{
    font-size: 1em;
    padding-bottom: 25px;
  }

  .chevron{
    padding-top: 25px;
  }

}

@media screen and (max-width: 420px) {
  #desktop{
    display: none;
  }
  #phone{
    display: block;
  }

  #mobile_padding{
    padding-right: 0px;
    padding-left: 0px;
  }

  #logo_head{
    width: 100%;
  }
}

#fond{
  height: 54vh;
  background-position: 60%;
  background-size: cover;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  align-items: center;
  z-index: -2;
  /*background-blend-mode: multiply;
  background-color: #546E7A;*/
}

.filter:after{
  background: rgba(101, 47, 142, 0.64);
  background: linear-gradient(45deg, rgba(101, 47, 142, 0.88) 0%, rgba(125, 46, 185, 0.45) 100%);
  background: -moz-linear-gradient(135deg, rgba(101, 47, 142, 0.88) 0%, rgba(125, 46, 185, 0.45) 100%);
  background: -webkit-linear-gradient(135deg, rgba(101, 47, 142, 0.88) 0%, rgba(125, 46, 185, 0.45) 100%);
}



.lien{
  color: #2a6a8a; text-decoration: underline; background-color: #FFF; font-weight: bold;
}

.lien:hover{
  color: #2a6a8a; text-decoration: underline; background-color: #FFF; font-weight: bold;
}

 .clear-filter::before{
  background-color: #546E7A !important;
  opacity: 0.5;
  z-index: -1;
}  

.btn-reponse{
  white-space:normal !important;
  width:100% !important;
  font-weight: bold;
}

#margin-head{
  margin: -60px 30px 0;
}

.titre_modal{
  color: #2b596d;
  font-weight: 600;
}

.gris_fonce{
  background-color: red;
}