.-Feedback---John-Smith {
  width: 338px;
  height: 18px;
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #757575;
}
.lienrep{
  margin-left: 5px;
  color: #757575 !important;
  text-decoration-line: underline !important;
}
.Repondant:hover i,.Resultat:hover i{
  color : #ffc107;
}
.Repondant:hover a,.Resultat:hover a{
  color : #fdd235 !important;
}
.Repondant:hover,.Resultat:hover{
  border-bottom : 1px solid #ffc107;
}
.Repondant:focus{
  color : #ffc107 !important;
  border-bottom: 2px solid #ffc107 !important;
}

hr.ligne2{
  border : 0.5px solid #757575;
  opacity: 0.1;
  margin-top: 0px;
  margin-left: 20px; 
  margin-right:7%; 
}
.Clients {
  width: 73px;
  height: 29px;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #757575;
}
.BG3 {
  width: 468.5px;
  height: 160px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
  margin-top: 20px;
  margin-left: -15px;
}
.Importer-les-repondants {
  display: inline-block;
  padding-left: 40px;
  padding-top: 10px;
  width: 75%;
  height: 100%;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #373a3c;
}
.Rectangle-199 {
  display: inline-block;
  width: 109px;
  height: 34px;
  background-color: #ffffff;
}
.Pas-de-fichier-selection {
  margin-left: 15px; 
  display: inline-block;
  width: 182px;
  height: 17px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #55595c;
}
.Rectangle-166 {
  width: 139.4px;
  height: 37.7px;
  border-radius: 4px;
  background-color: #bdbdbd;
}
.Importer {
  width: 50px;
  height: 17px;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  padding-top: 4px;
  padding-left: 38px;
  color: #ffffff;
}
.BG4 {
  margin-left: 5%;
  margin-right: 5%;
  height: 479px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
}
.Repondants {
  width: 95px;
  height: 24px;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.72;
  letter-spacing: normal;
  padding-top: 25px;
  padding-left: 25px;
  text-align: left;
  color: #4d4f5c;
}
.HeadBG {
  border:1px solid  #f5f6fa;
  background-color: #f5f6fa;
}
.HeadBG>tr>th{
  width: 52px;
  height: 17px;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #a3a6b4;
}
.gauche{
  width: 118px;
  height: 17px;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #4d4f5c;
}
.centre{
  width: 128px;
  height: 17px;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: center;
  color: #4d4f5c;
}
.Rectangle-166A {
  width: 92px;
  height: 31px;
  margin-top: -5px;
  border-radius: 4px;
  background-color: #607d8b;
}
.Relancer {
  width: 52px;
  height: 19px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  padding-left: 12px;
  padding-top: 3px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.table>tbody>tr>td{ padding-top: 15px !important;}