.apter_solutions_android-2-tranparent {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 150px;
  	height: 75px;
  	object-fit: contain;
}
/*.content-wrapper {
     padding: 50px;
}*/

@media only screen and (min-width: 1000px) {
          .content-wrapper{
            padding: 50px;
          }
    }
.cursor{
  cursor:pointer;
}
.title{
  margin-top: 0 !important;
}
.text-secondary{
  color:#6C757D;
}
.text-warning{
  color:#FFC107 !important;
}

.box-header{
  cursor: pointer;
}

.btn-primary{
  background-color: #5F7C8A !important;
  border: none !important;
}

.modal-content{
  border-radius: 10px;
}

.skin-yellow .main-header .navbar .sidebar-toggle:hover {
    background-color: #607d8b !important;
}
.skin-yellow .main-header .logo {
    background-color: transparent !important; 
}
.do35a-iStock_890386528_copie {
   background: #607d8b !important;
   /*position: absolute;*/
   overflow: hidden;
}
.do35a-iStock_890386528_copie:before {
    content: ' ';
    object-fit: contain;
   display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1 ;
    background-image: url('/img/do35a-iStock_890386528_copie.png') ;
   background-repeat: no-repeat ;
    background-position: 50% 0 ;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.Bienvenu{
  height: 22px;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #757575;
}
.BG {
  width: 330px;
  height: 126px;
  display: inline-block;
  margin-top: 20px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
}
.Ligne-11 {
  width: 325px;
  height: 0;
  opacity: 0.51;
}
.Rectangle-82 {
  width: 72px;
  height: 133px;
}
.icon_dashboard{
  margin-left:10px;
  width: 43px;
  height: 43px;
  color: #ffc107;
}
.APTER-360-Feedback {
  width: 240px;
  height: 30px;
  font-size: 23.5px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  padding-top: 6px;
  margin-left: 90px;
  letter-spacing: normal;
  color: #757575;
}
.Rectangle-2 {
	display: inline-block;
  width: 322px;
  height: 56px;
  border-radius: 3px;

}
.Rectangle-3 {  
  margin-left: 100px;
  margin-bottom: 8px;
  width: 116.7px;
  height: 37.4px;
  border-radius: 3px;
  background-color: #607d8b;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  
}
.Rectangle-4 {
  margin-left: 5px;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  width: 91.7px;
  height: 37.4px;
  border-radius: 3px;
  background-color: #607d8b;
  

}
.Questionaire {
  width: 92px;
  height: 21px;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.Voir-Tests { 
  width: 73px;
  height: 21px;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.Support-Icon {
  width: 16px;
  height: 16px;
  margin-top: 18px;
  color: #bcbccb;
}
.Avatar {
  width: 38px;
  height: 38px;
  border-radius: 50px;
  border-color: blue;
  margin-right: 3px;
  margin-top: 6px;
}
.FR {
  width: 21px;
  height: 22px;
  /*font-family: Roboto;*/
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #757575;
}
.Avatar {
  width: 38px;
  height: 38px;
  border-radius: 50px;
  margin-right: 15px;
  background-color: #607d8b;
}
.sidebar-menu>li {
    position: relative;
    margin: 0;

    padding-left: 10px;
    width: 220px !important;
}
.sidebar-mini.sidebar-collapse .sidebar-menu>li {
    position: relative;
    width: 60px !important;
} 
.sidebar-mini.sidebar-collapse .main-sidebar {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    width: 70px !important;
    z-index: 850;
}
.skin-yellow .sidebar-menu>li.active>a, .skin-yellow .sidebar-menu>li.menu-open>a {
    color: #607d8b;
    border-radius: 5px;
    background: #fff !important;
}
.skin-yellow .sidebar-menu>li:hover>a{
    color: #607d8b;
    border-radius: 5px;
    width: 210px !important;
    background: #fff !important;
}
.skin-yellow .sidebar-menu>li.active>a {
    border-color: transparent !important;
}
.Rectangle-567 {
  width: 410px;
  height: 45px;
  border-radius: 4px;
  background-color: #ffffff;
}
/*From zepline*/
.Rectangle-582 {
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  height: auto;
}
.center{
  text-align: center;
}
.left{
  text-align: left;
}
.circle{
  border-radius: 100%;
}
.box-icon {
  font-size:15.6px;
  color: #757575;
}
.box-icon-large {/*edit*/
  font-size: 23.2px;
  color: #757575;
}
.coordonne {
  
  /*font-family: Roboto;*/
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: center;
  color: #212121;
  height: 17px;
}
.coordonne-left {
  
  /*font-family: Roboto;*/
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #212121;
}
.titre-apter-left {
  /*font-family: Roboto;*/
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #757575;
}
.box-name-left {/*Laurence-Vandeventer*/
  /*font-family: Roboto;*/
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #757575;
  height: 20px;
}
.box-name-left label, .titre-apter-left label, .coordonne-left  label{
  width: 98px;
}
.titre-apter {
  /*font-family: Roboto;*/
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: center;
  color: #757575;
}

.box-name {/*Laurence-Vandeventer*/
  /*font-family: Roboto;*/
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #757575;
  height: 20px;
}
.Ellipse-18 {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #bdbdbd;
}
.icon_customers {
  size: 45.5px;
  color: #ffffff;
}
.form-control-feedback{
  position: absolute;
  right: 16px;
}

/*end From zepline*/
/*  w3School */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #5F7C8A;/*#ffb300*/
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* end W3school*/
/*.main-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px;
    min-height: 100%;
    width: 250px ;
    z-index: 810;
    -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out;
    transition: transform .3s ease-in-out,width .3s ease-in-out !important;
}*/
/*.main-header .navbar {
    -webkit-transition: margin-left .3s ease-in-out;
    -o-transition: margin-left .3s ease-in-out;
    transition: margin-left .3s ease-in-out;
    margin-bottom: 0;
    margin-left: 250px !important;
    border: none;
    min-height: 50px;
    border-radius: 0 ;
}/*
.main-header .logo {
    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    display: block;
    float: left;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    width: 250px !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0 15px;
    font-weight: 300;
    overflow: hidden;
}
.sidebar-mini.sidebar-collapse .main-header .logo>.logo-mini {
    display: block;
    margin-left: -15px;
    margin-right: -15px;
    font-size: 18px;
    width: 70px !important;
}*/
.sidebar-mini.sidebar-collapse .main-header .navbar {
    margin-left: 70px !important;
}
.sidebar-mini.sidebar-collapse .main-header .logo {
    width: 70px !important;
}/*
.main-sidebar {
    -webkit-transform: translate(-230px, 0);
    -ms-transform: translate(-230px, 0);
    -o-transform: translate(-230px, 0);
    transform: translate(-250px, 0) !important;
}
.sidebar-open .main-sidebar {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0) !important;
}*/
.skin-yellow .main-header .navbar .nav>li>a {
    color: #000000 !important;
}
.skin-yellow .main-header .navbar {
    background-color: #fff !important;
}
.skin-yellow .main-header .navbar .sidebar-toggle {
    color: #000000 !important;
}

.treeview-menu{
  background:none !important;
  margin-left: 20px !important;
}

.treeview-menu a{
  color : white !important;
}
.card-body form{
  margin-top: 1em;
}