.input-container {
  display: -ms-flexbox; 
  max-width: 425px;
  display: flex;
  background-color: white;
  margin-bottom: 15px;
  border-radius: 5px;
}
.Tests-360-Feedback-Management-et-Leadership {
  width: 100%;
  font-size: 25px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #757575;
}
.input-field {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px;
  outline: none;
}
.BG2 {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
}
.Names {
  display: inline-block;
  padding-left: 40px;
  padding-top: 10px;
  width: 75%;
  height: 100%;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #757575;
}
.pagination>li>a {
    background: #fafafa;
    color: #666;
    margin-left: 8px !important;
}
.pagination>li>a:hover  {
    background: #607d8b;
    color: #fff;
}
.pagination>li>a:focus{
	 background: #607d8b;
    color: #fff;
}
.icons {
  padding-right: 10px;
	display: inline-block;
	float: right;
}
ul{
	list-style: none;
}
.lien{
	margin-left: 5px;
	color: #757575 !important;
	text-decoration-line: underline !important;
}
.ligne{
  margin-top: -6px;
}
.Resultat {
	padding-top: -20px;
	display: inline-block;
  width: 120px;
  height: 30px;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  margin-left:  30px;
  letter-spacing: normal;
  text-align: left;
  color: #607d8b;
}
.Repondant{
	padding-top: -20px;
	display: inline-block;
	margin-left: 25px;
  height: 30px;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #607d8b;
}
.Monsieur{
  margin-left: 23px;
  width: 135px;
  height: 20px;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #bdbdbd;
}
.icon1 {
  padding-right: 25px;
  padding-top: 10px;
  width: 16px;
  height: 16px;
  color: #a4afb7;
}
.icon {
  padding-top: 13px;
  padding-left: 15px;
  color: #bcbccb;
  text-align: center;
}
.bar2{
	display: inline-block;
	margin-top: -5px;
	margin-left: -24px;
}
.num{
	padding-left: 75px;
}
.date{
	display: inline-block;
  margin-top: 20px;
	margin-left: 25px;
	width: 166px;
 	height: 20px;
 	font-size: 15px;
 	font-weight: normal;
 	font-style: normal;
 	font-stretch: normal;
	line-height: 1.67;
	letter-spacing: normal;
	text-align: left;
	color: #bdbdbd;
}
.reponse{
	width: 128px;
  margin-left: 25px;
  margin-top: 20px;
	display: inline-block;
  height: 20px;
  font-size: 15px;
  font-weight: normal;
 	font-style: normal;
 	font-stretch: normal;
 	line-height: 1.67;
  	letter-spacing: normal;
  	color: #ffc107;
  	
}
.bar3{
	display: inline-block;
	width: 150px;
  height: 45px;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #bdbdbd;
}
